<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fa fa-6x fa-comment" aria-hidden="true"></i>
    <h1 class="display-3">Here are People's anonymous Notes</h1>
    <p class="secret-text">
      <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%= user.secret%> </p>
  <%  }) %> 
  
  </p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit an anonymous note</a>
  </div>
</div>

<%- include('partials/footer') %>
